/* Global Styles */
:root {
  --primary-color: #414141;
  --secondary-color: #d2146c;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #f37228;
  --success-color: #28a745;
  --border-primary: #dbdbdb;
  --border-secondary: #b8b8b8;
  --gray-scale1: #f1f1f1;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'ヒラギノ角ゴ ProN', sans-serif;
  line-height: 1.2;
  background-color: #fafafa;
  color: #333;
  font-size: 1.6rem;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
} 

.ant-btn[disabled],.ant-btn[disabled]:hover,.ant-btn[disabled]:focus,.ant-btn[disabled]:active {
  background: var(--secondary-color);
  opacity: 0.5;
  color: #fff;
}

/* =========== Mypage tab =========== */

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab:hover {
  color: var(--secondary-color);
}

.ant-tabs-nav-operations {
  display: none !important;
}

/* =========== Navbar =========== */

.ant-tabs-ink-bar {
  background: var(--secondary-color);
}

@media (max-width: 599px) {
  html {
    font-size: 50%;
  }
}
